/* for small device/smartphones  */

@media (max-width: 537px) {
  .form {
    /* background-color: red;
    width: 40%; */
    display: none;
  }
  .form > h2 {
    font-size: 1.3rem;
    color: yellow;
  }
  .hero .content,
  .hero .form {
    width: 50%;
  }

  body{
    background-color: white !important;
  }
  .navbar{
    
   
    
  }


  .nav {
  width: 50%;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  /* box-shadow: 14px 0 6px 4px rgba(255, 255, 255, 0.25); */
  background: blue;
  display: inline-block;
margin-top: 60px;
position: relative;

}
.navbar{
    background-color: red !important;
    margin: 2px 5px 3px 5px;
}
nav h1{
    position:absolute;
    left: -10;
    bottom: 0;
}

.content{
    display: none;
    width: 45%;
    min-height: 800px;
    background-color: orange;
}
}


